{
    "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-decorators-legacy",
        [
            "module-resolver",
            {
                "alias": {
                    "react-materialcomponents": "./libs"
                },
                "root": [
                    "./src"
                ]
            }
        ],
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ],
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "IE >= 11"
                    ]
                }
            }
        ],
        "react"
    ]
}
